
#fastapi
#uvicorn[standard]
#langchain
#langchain-google-genai
#opensearch-py
#psycopg2-binary
#pydantic
#python-dotenv
#pypdf
#tqdm
#langchain-community
#python-multipart
#unstructured
#openpyxl
#python-magic
#gunicorn

fastapi
uvicorn
gunicorn
langchain
langchain-google-genai
langchain-community
opensearch-py
psycopg2-binary
pydantic
python-dotenv
python-multipart

# Yeni Excel və SQL dəstəyi üçün
pandas
sqlalchemy
openpyxl

# PDF üçün (Lazımdır)
pypdf
tqdm